# If a student finds this repo, they've gotta at least put in the trivial effort of compiling the tex files themselves
Textbook Latex/Digital Design Homework Solutions.pdf

# Allow me to only generate what I'm editing, without affecting you
Textbook Latex/Digital Design Homework Solutions.tex

# Throw away intermediates
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.synctex
*.synctex.gz
*.toc
*.lobb
*.lop
